<!doctype html>
<html ⚡4ads>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<script async src="https://cdn.ampproject.org/amp4ads-v0.js"></script>
	<style amp4ads-boilerplate>body{visibility:hidden}</style>
	{{!--<!-- The AMP Story runtime is responsible for rendering the call to action button. 
			The call to action button must be configured from a predefined set of [choices](https://www.ampproject.org/docs/ads/story_ads_best_practices). -->  
			<!-- <meta name="amp-cta-type" content="Learn More"> -->
			<!-- amp-cta-url specifies where the user is directed once clicking upon the call to action button. -->
			<!-- <meta name="amp-cta-url" content="https://www.ibm.com"> -->--}}
	<style amp-custom>
	{{> fonts.css}}
	{{> global.css}}
	{{> (adCss) }}
	{{> cta.css}}
	</style>
</head>
{{!--<!-- In order to see this ads as a standalone AMP page please add the amp-story-visible attribute to the body tag here. 
	Please remember to remove this attribute before uploading your ad to an ad-server. -->--}}
<body{{! amp-story-visible}}>
	<amp-img alt="{{bg.alt}}"
		class="hero"
		srcset="{{getImgPath}}{{bg.src}} {{bg.w1}}w, {{getImgPath}}{{{bg.src2}}} {{bg.w2}}w, {{getImgPath}}{{{bg.src3}}} {{bg.w3}}w"
		src="{{getImgPath}}{{bg.src}}"
		width="1"
		height="2"
		layout="fill">
	</amp-img>
	<div class="container">
		<div class="logo-container">
			<amp-img
				alt="IBM"
				class="logo"
				srcset="{{getImgPath}}logo_3x.png 630w, {{getImgPath}}logo_2x.png 315w, {{getImgPath}}logo_2x.png 158w" 
				src="{{getImgPath}}logo_3x.png"
				width="315"
				height="72"
				layout="intrinsic">
			</amp-img>
		</div>
		<div class="text-container">
			<p class="text frame-1">
				<span><i style="--ani-order:1;">You see tennis.</i></span>
				<span><i style="--ani-order:2;">We see data.</i></span>
			</p>
			<p class="text frame-2">
				<span><i style="--ani-order:1;">IBM Power Rankings </i></span>
				<span><i style="--ani-order:2;">with Watson is </i></span>
				<span><i style="--ani-order:3;">analyzing every </i></span>
				<span><i style="--ani-order:4;">second of the </i></span>
				<span><i style="--ani-order:5;">US Open.</i></span>
			</p>
			<p class="text frame-3">
				<span><i style="--ani-order:1;">Follow the </i></span>
				<span><i style="--ani-order:2;">action from </i></span>
				<span><i style="--ani-order:3;">court to couch.</i></span>
			</p>
		</div>
		<div class="burst-container">
			<div class="burst">
				<ul>
					<li style="--ani-order:1.5;"></li>
					<li style="--ani-order:1.2;"></li>
					<li style="--ani-order:1.1;"></li>
					<li style="--ani-order:1.2;"></li>
					<li style="--ani-order:1.5;"></li>
				</ul>
			</div>
		</div>
		<div class="hero-container">
			<amp-img alt="{{heroImg.alt}}"
				class="{{heroImg.class}}"
				srcset="{{getImgPath}}{{heroImg.src}} {{heroImg.w1}}w, {{getImgPath}}{{{heroImg.src2}}} {{heroImg.w2}}w, {{getImgPath}}{{{heroImg.src3}}} {{heroImg.w3}}w"
				src="{{getImgPath}}{{heroImg.src}}"
				width="{{heroImg.width}}"
				height="{{heroImg.height}}"
				layout="intrinsic">
			</amp-img><!-- {{!log (getImgSize heroImg.src2)}}w -->
		</div>
	</div>
	<div class="cta-container">
		<a class="cta" href="" target="_blank">Learn More</a>
	</div>
</body>
</html>